*{
	padding:0;
	margin: 0;
}
.widget {
	position: relative;
	margin:5px;
	width:300px;
	height: 623px;
	border:solid 1px gray;

}
h2 {
	margin:0 20px;
	font-size: 18px;
}
.widget-header{
	margin-bottom: 45px;
}
.top-headerLine{
	background-color: #00adef;
	height:60px;
	border-top-left-radius: 15px;
}
.bottom-headerLine{
	background-color: #0184b8;
	height:15px;
}
.widgetLogo{
	width:300px;			
	position: absolute;
	top: 0;
	border: solid 1px red;
}
.widgetImage{
	display: block;
    margin: auto;
}
#widget-form {
	margin: 17px 28px 0 23px;
	border:solid 1px gray;
}
#name, #phone {
	background: transparent;
	border: 0px solid;
	vertical-align: top;
	padding-top: 8px;    
}
.conformHide{
	display:none;
}
label {
	display:block;
	font-size: 14px;

}
.inputBox{
	border: 1px solid #d5d5d5;
	height:33px;
	border-radius: 5px;

}
.icon{
	padding:5px;
	display:inline-block;
}
select{
	background-color: transparent;
	width:100%;
	height:33px;
	border: 1px solid #d5d5d5;
	border-radius: 5px;
}
.validate{
	text-align: right;
	color:red;
	font-size: 10px;
}
.red {
	background-color:#ffe3df;
	border:1px solid red !important;
}
.noError {
	display:none;
}
.formBox {
	height: 68px;
}
.divPos{
	position: relative;
}
.erLocation {
	position: absolute;
	top:7px;
	right: 20px;
	
}
.textAreaBox{
	
	border: 1px solid #d5d5d5;
	height:83px;
	border-radius: 5px;
}
textarea {
	background-color: transparent;
     width: 100%;
     height: 100%;
     border: none;
     resize: none;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}
.submitBtt{
	height: 34px;
	width: 120px;
}