*{
	padding:0;
	margin: 0;
}
.widget {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	position: relative;
	margin:5px;
	width:300px;
	height: 623px;

}
h2 {
	margin:0 20px;
	font-size: 16px;
}
.top-headerLine{
	background-color: #00adef;
	height:60px;
	border-top-left-radius: 15px;
}
.bottom-headerLine{
	background-color: #0184b8;
	height:15px;
}
.widgetLogo{
	width:300px;			
	position: absolute;
	top: 0;
}
.cancel{
	position:absolute;
	top:2px;
	right:7px;
	color:white;
}
.widgetImage{
	display: block;
    margin: auto;
}
#widgetBody {
	padding-top: 45px;
	border: 1px solid gray;
	border-radius: 2px;
	height: 548px;
}
#widget-form {
	margin: 17px 28px 0 23px;
	border:solid 1px gray;
}
#name, #phone {
	background: transparent;
	border: none;
	vertical-align: top;
	padding: 8px 0 10px 40px;   
	width:205px;
}
.conformHide{
	display:none;
}
label {
	display:block;
	font-size: 13px;
	padding-bottom: 

}
.inputBox{
	border: 1px solid #d5d5d5;
	height:33px;

}
.icon{
	position: absolute;
	top:5px;
	left: 5px;
}
select{
	background-color: transparent;
	width:100%;
	height:33px;
	border: 1px solid #d5d5d5;
}
.validate{
	text-align: right;
	color:red;
	font-size: 10px;
}
.red {
	background-color:#ffe3df;
	border:1px solid red !important;
}
.noError {
	display:none;
}
.formBox {
	height: 68px;
}
.divPos{
	position: relative;
}
.erLocation {
	position: absolute;
	top:7px;
	right: 20px;
	
}
.textAreaBox{
	border: 1px solid #d5d5d5;
	height:108px;
}
textarea {
	background-color: transparent;
     width: 100%;
     height: 100%;
     border: none;
     resize: none;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}
.button{
	text-align: right;
}
.submitBtt{
	color:white;
	font-size: 18px;
	font-weight: bold;
	height: 34px;
	width: 120px;
	border:none;
	background: -webkit-linear-gradient(#4ac4f5,#067fac); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#4ac4f5,#067fac); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(#4ac4f5,#067fac); /* Firefox 3.6-15 */
    background: linear-gradient(#4ac4f5,#067fac); /* Standard syntax */

}
input:focus, textarea:focus, select:focus { 
    background-color: lightblue !important;
    border-radius: 2px;
}
.formBoxArea{
	height:143px;
}
.formBoxAreaCA {
	height: 75px;
}
.questionBoxCA{
	height:40px;
}
.required {
	font-size: 11px !important;
}
.requiAsc{
	padding-top: 5px;
	color:red;
}
.submitBtt, #stateBox, #wasCABox,.textAreaBox, select, .inputBox {
	border-radius: 3px;
}